/*fonts available to use*/
/*font-family: 'Antic Slab', serif;
font-family: 'Marck Script', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Cookie', cursive;
font-family: 'Special Elite', cursive;*/

html, body  {
  font-family:      'Antic Slab', serif;
}

header, footer  {
  font-family:      'Cookie', cursive;
}

ul {
  list-style-type:  none;
}


